<section class="phx-hero">
    <h1>Insert the name of the room, you want to join</h1>
    <form action="/register-room">
        <input placeholder="Example : Spiderman movies" type="text" name="join_room">
        <button>Join</button>
    </form>
</section>